.page-heading {
  margin: 2px 0 0 0;
}

body {
  font-family: "Open Sans";
}
.lbl1 {
  /* width: 140px;
  height: 25px; */

  padding-top: 10px;
  padding-left: 10px;
  font-family: "Proza Libre Regular";
  font-size: 20px;

  color: #000000;
}
.playPoint {
  border-radius: 1.5em 0 1.5em 0 !important;
  box-shadow: 0 0 10px 2px rgba(180, 37, 37, 0.1);
  width: 289px;
  height: 350px;
  margin-left: 25px;
  background-color: #fff;
  /* margin-top: -100px; */
}
.column1 {
  float: left;
  width: 50%;
  margin-left: 25px;
}
.column2 {
  float: right;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  margin-bottom: -10px;
  content: "";
  display: flex;
  clear: both;
}
.popUp {
  margin: -50px 0px 0px 210px;
  /* width: 60px;
  height: 14px; */
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #8cc63f;
  border-radius: 16px !important;
}

h1,
p {
  margin: 0;
}
.medal {
  width: 26px;
  height: 26px;
  margin-left: 20px;
  padding-top: -90px;
}
.totallbl {
  /* margin-left: 120px; */
  font-family: "Proza Libre Regular";
  font-size: 13px;
  text-align: center;
  color: #000000;
}
.Sharelbl {
  font-family: Gilroy;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
.resetlbl {
  font-family: Gilroy;
  font-size: 15px;
  text-align: center;
  color: #000000;
}
.share {
  border-radius: 1.5em 0 1.5em 0 !important;
  width: 125px;
  height: 25px;
  margin: 4px 18px 3px 19px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  background-color: #8cc63f;
}
.spin {
  border-radius: 1.5em 0 1.5em 0 !important;
  width: 125px;
  height: 25px;
  margin: -50px 0px 0px 19px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  background-color: #8cc63f;
}
.reset {
  border-radius: 1.5em 0 1.5em 0 !important;
  width: 125px;
  height: 25px;
  margin: -50px 0px 0px 150px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  background-color: #e1e1e1;
}
/* div.power_controls {
  margin-right: 70px;
} */
.progressbar {
  width: 250px;
  margin-left: 25px;
}
.arrow_down {
  width: 30px;
  height: 40px;
  transform: rotate(-49deg);
}
.canvas {
  margin: -80px 45px 0 20px;
  transform: rotate(-48deg);
}
.bar {
  background-color: #8cc63f;
  color: white;
}

.wrapper-grid3 .wrapper-order p {
  margin: -11px;
  padding: 0 0 28px 20px;
  color: #707070;
  font-family: "Proza Libre";
  font-size: 20px;
}

#order-data {
  border-collapse: separate !important;
  border-spacing: 5px 5px;
  overflow: hidden;
}

.wrapper-grid3 th {
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  height: 24px;
  border-radius: 0 0 0 0 !important;
  padding: 6px 0 0 0;
}
.wrapper-grid3 th:first-child {
  border-radius: 0 0 0 2em !important;
}
.wrapper-grid3 th:last-child {
  border-radius: 0 2em 0 0 !important;
}
.iconify.orders {
  display: none;
}

#order-data td {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #f3f3f3;
}

#order-data td:first-child {
  border-radius: 0 0 0 1.5em !important;
  border: 1px solid #f3f3f3;
}
#order-data td:last-child {
  border-radius: 0 1.5em 0 0 !important;
  border: 1px solid #f3f3f3;
}

#order-data tbody tr {
  overflow: hidden;
  border-collapse: separate !important;
}
.wrapper-amount {
  display: flex;
  border-radius: 0 0 1.5em 0 !important;
  background-color: #cac9c7;
  margin: 6px 0 0px 0px;
  width: 345px;
  height: 33px;
}
.wrapper-grid3 .wrapper-amount p {
  /* font-family: "Proza Libre Regular"; */
  font-size: 15px;
  color: black !important;
  margin: 7px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.wrapper-grid3 .wrapper-amount p:last-child {
  padding: 0 0 0 0px;
}
.total-count-wrapper {
  background-color: transparent;
  table-layout: auto;
}

#summary-data tbody tr {
  border-bottom: 1pt solid #4f5351;
}
#summary-data td:last-child {
  text-align: right;
}
#summary-data td:first-child {
  width: 100px;
}
#summary-data td {
  padding: 14px 14px 6px 22px;
  font-family: "Open Sans";
  font-size: 12px;
}

/* Media query */
/* iphone landscape */
@media (min-width: 667px) {
  .wrapper-grid3 .wrapper-amount p:last-child {
    padding: 0 0 0 200px;
  }
}
/* ipad portrait */
@media (min-width: 768px) {
  .iconify.orders {
    display: inline;
    width: 20px;
    height: 20px;
  }
  #order-data td {
    font-size: 13px;
  }
  .total-count-wrapper {
    padding: 8px;
    margin: 7px 0 6px 143px;
  }
  #summary-data td {
    font-size: 14px;
  }
  .wrapper-amount {
    margin: 5px 0px 0px 144px;
    width: 441px;
    height: 38px;
  }
  .wrapper-grid3 .wrapper-amount p:last-child {
    padding: 7px 0 0 245px;
  }
  .wrapper-grid3 .wrapper-amount p {
    padding: 4px 0 0 30px;
    font-size: 17px;
  }
}
/* ipad landscape */
@media (min-width: 1024px) {
  .wrapper-delivery-detail,
  .wrapper-payment-detail {
    padding: 0px 109px 0 101px;
  }
  .total-count-wrapper {
    padding: 8px;
    margin: 7px 0 6px 200px;
  }
  .wrapper-amount {
    margin: 5px 0px 0px 199px;
    width: 588px;
  }
  .wrapper-grid3 .wrapper-amount p:last-child {
    padding: 7px 0 0 345px;
  }
  .wrapper-grid3 .wrapper-amount p {
    padding: 7px 0 0 48px;
  }
  .ui-btn.back {
    /* width: 277px; */
    margin: 6px 0px 0px 188px;
  }
  .cart-delete {
    margin-left: 800px;
  }
}
