.ui-content {
    width: 100%;
}

p {
    margin: 2px;
    padding: 5px 2px 5px 0px;
}

.wrapper-our-numbers {
    width: 100%;
}       

    .wrapper-shoppers {
        width: 50%;
        float: left;
    }
    .wrapper-courier {
        width: 50%;
        float: right;
        margin-top: 12px;
    }
    .wrapper-shoppers p {
        text-align: center;
    }
    .wrapper-courier p {
        text-align: center;
        margin-right: 77px;
    }
    .wrapper-people {
        display: none;
    }
    .iconify.shoppers{
        display: inline;
        width: 176px;
        height: 58px;
        color: #707070;
    }
    .iconify.van{
        display: inline;
        width: 97px;
        height: 46px;
        color: #707070
    }
    
        .icon-topic {
            font-family: "Gilroy";
            font-size: 17px;
            color: #707070;
        }

        
        .icon-data {
            font-family: "Open Sans";
            font-size: 14px;
            color: #707070;
        }

#map {
    height: 200px;
    width: 341px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

    .outlets {
        display: block;
        padding-top: 30px;
    }

    .outlets div{
        padding: 10px;
        display: inline-block;
        margin-left: 20px;
    }

        .location.store-1, .location.store-2, .location.store-3 {
            border-radius: 1.5em 0 1.5em 0 !important;
            box-shadow: 0 0 10px 2px rgb(0, 0, 0, .1);
            width: 124px;
            height: 120px;
        }
        .location.store-2 {
            margin-left: 24px;
        }
        .location.store-3 {
            margin-left: 84px;
            margin-top: 14px;
        }
        
        .outlet-city {
            font-family: "Gilroy";
            font-size: 14px;
            color: #707070;
            text-align: center;
        }
        .outlet-address{
            font-family: "Open Sans";
            font-size: 11px;
            text-align: center;
            height: 82px;
        }

@media only screen and (min-width: 667px) {
    .icon-topic {
        font-family: Arial;
        color: black;
    }
    .icon-people {
        display: block;
        display: inline;
        width: 97px;
        height: 46px;
        color: #707070
    }
    
}