html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  background: black;
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
  padding: 15px;
}

#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 400px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}

.ipad-cam {
  display: none;
}

#popupVideo {
  border-radius: 2em !important ;
  bottom: 0;
  width: 320px;
}

video {
  padding: 2% !important;
  margin-left: 1% !important;
  margin-top: 1.3% !important;
  border-radius: 0 0 2em 2em !important;
  width: 300px;
  /* height: 250px !important; */
}
.popup-heading {
  text-align: center;
  font-family: Proza Libre;
  background-color: #8cc63f !important;
  padding: 5% !important;
  height: 15px !important;
  margin-top: -7%;
  border-radius: 2em 0 0 0 !important ;
}

.popup-heading h2 {
  margin-top: -1.5%;
}

#qr-toast {
  visibility: hidden;
  background-color: #333333b5;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 17px;
  position: fixed;
  z-index: 1;
  left: 14%;
  bottom: 30px;
  font-size: 13px;
  border-radius: 20px 0px;
  border: 1px solid #707070;
  width: 60% !important;
  font-family: "calibri" !important;
}
#qr-toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#qr-toast > p {
  display: inline;
  color: white;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
  }
  to {
    bottom: 30px;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
  }
  to {
    bottom: 30px;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
  }
  to {
    bottom: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
  }
  to {
    bottom: 0;
  }
}

.scan-btn button {
  background-color: black;
  color: white;
  font-family: "gilroy";
  width: 50px;
  height: 50px !important;
  border-radius: 10em !important;
  border-width: 3px;
  margin-left: 41%;
  margin-top: -2%;
  z-index: 2;
  margin-bottom: 1%;
  border: #8cc63f;
}


@media (min-width: 667px) {
  video {
    /* margin-left: -14% !important;
    height: 250px !important; */
    width: 300px !important;
  }

  #qr-toast {
    left: 110px !important;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  video {
    width: 565px !important;
    
  }

  #popupVideo {
    width: 600px !important;
  }

  .scan-btn button {
    height: 70px !important;
    width: 70px !important;
    border-radius: 12em;
    font-size: 16px;
    margin-left: 43% !important;
    margin-top: -8% !important;
    margin-bottom: 3% !important;
  }

  #qr-toast {
    left: 140px !important;
    font-size: 16px;
  }
  .popup-heading{
    margin-top: -3% !important;
  }
}

@media (min-width: 1024px) {
  video {
    width: 755px !important;
  }

  .scan-btn button {
    height: 60px !important;
    width: 60px !important;
    border-radius: 12em;
    font-size: 16px;
    margin-left: 43% !important;
    margin-top: -8% !important;
    margin-bottom: 3% !important;
  }

  #popupVideo {
    width: 800px !important;
  }

  #qr-toast {
    left: 180px !important;
    font-size: 16px;
  }

  .popup-heading{
    margin-top: -2% !important;
  }
}

