.page-heading {
  margin: 5%;
  padding: 0 0 10px 5px;
}

h2 {
  text-align: center;
  padding-top: 10%;
  font-family: "Open Sans";
  font-size: 15px;
}

.main-container-iphone {
  margin-top: 10% !important;
  margin: auto;
  border-radius: 2em !important;
  width: 80%;
  background-color: #efefef;
}

.qrcode-display {
  width: 200px;
  height: 170px;
  padding-top: 10% !important;
  margin-left: 16.5% !important;
  background-color: white;
}

#qrcode {
  margin-left: 7% !important;
  margin-top: -6% !important;
}

.message {
  padding: 5%;
  text-align: center;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
}

.main-container-ipad {
  display: none;
  margin-top: 10% !important;
  margin: auto;
  border-radius: 2em !important;
  width: 80%;
  background-color: #efefef;
}

@media (min-width: 667px) {
  h2 {
    padding-top: 6%;
    font-size: 18px;
  }

  .main-container-iphone {
    margin-top: -3% !important;
  }

  .qrcode-display {
    margin-left: 30% !important;
    width: 220px !important;
  }

  #qrcode {
    margin-left: 12% !important;
    margin-top: -12% !important;
  }
}

@media (min-width: 768px) {
  .main-container-iphone {
    display: none;
  }

  .main-container-ipad {
    display: block;
  }

  h2 {
    font-size: 20px;
  }
  .qrcode-display {
    margin-left: 22% !important;
    width: 340px !important;
    height: 280px !important;
  }

  #qrcode-ipad {
    margin-left: 10% !important;
    margin-top: -8% !important;
  }

  .message {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .main-container-iphone {
    display: none;
  }

  .main-container-ipad {
    display: block;
    margin-top: -2% !important;
  }

  h2 {
    font-size: 20px;
  }
  .qrcode-display {
    margin-left: 29% !important;
    width: 350px !important;
    height: 280px !important;
  }

  #qrcode-ipad {
    margin-left: 11% !important;
    margin-top: -10% !important;
  }

  .message {
    font-size: 16px;
  }
}
