.page-heading {
  margin: 2px 0 0 0;
}
.page-sub {
  color: #e80057;
  font-family: "Proza Libre";
  font-size: 12px;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  margin-top: -20px;
  margin-left: 30px;
}
.sort{
  font-family: "Open Sans";
}
.noti {
  width: 20px;
  height: 20px;
  margin: 0 0 0 0;
}
.filter {
  /* margin-top: 20px; */
  margin-bottom: -5px;
}
.cart-delete {
  margin-left: 188px;
}
.column {
  float: left;
  overflow: hidden;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.check {
  font-size: 150%;
  width: 10px;
  font-size: 150%;
  width: 15px;
  margin-left: -6px;
}
.keep {
  width: 15px;
}

.wrapper-grid3 .wrapper-order p {
  margin: -11px;
  padding: 0 0 28px 20px;
  color: #707070;
  font-family: "Proza Libre";
  font-size: 20px;
}

#order-data {
  border-collapse: separate !important;
  border-spacing: 5px 5px;
  overflow: hidden;
}

.wrapper-grid3 th {
  background-color: #8cc63f;
  color: white;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  height: 24px;
  border-radius: 0 0 0 0 !important;
  padding: 6px 0 0 0;
}
.wrapper-grid3 th:first-child {
  border-radius: 0 0 0 2em !important;
}
.wrapper-grid3 th:last-child {
  border-radius: 0 2em 0 0 !important;
}
.iconify.orders {
  display: none;
}

#order-data td {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #f3f3f3;
}

#order-data td:first-child {
  border-radius: 0 0 0 1.5em !important;
  border: 1px solid #f3f3f3;
}
#order-data td:last-child {
  border-radius: 0 1.5em 0 0 !important;
  border: 1px solid #f3f3f3;
}

#order-data tbody tr {
  overflow: hidden;
  border-collapse: separate !important;
}
.wrapper-amount {
  display: flex;
  border-radius: 0 0 1.5em 0 !important;
  background-color: #cac9c7;
  margin: 6px 0 0px 0px;
  width: 345px;
  height: 33px;
}
.wrapper-grid3 .wrapper-amount p {
  /* font-family: "Proza Libre Regular"; */
  font-size: 15px;
  color: black !important;
  margin: 7px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.ui-btn.back {
  background-color: #8cc63f;
  color: white;
  font-family: "Proza Libre Regular";
  font-size: 15px;
  font-weight: 600;
  border-radius: 2em 0 2em 0 !important;
  width: 130px;
  height: 25px;
  box-shadow: 0 0 8px 5px rgba(33, 22, 22, 0.1);
  margin: 4px 0px 0px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-grid3 .wrapper-amount p:last-child {
  padding: 0 0 0 0px;
}
.total-count-wrapper {
  background-color: transparent;
  table-layout: auto;
}

#summary-data tbody tr {
  border-bottom: 1pt solid #4f5351;
}
#summary-data td:last-child {
  text-align: right;
}
#summary-data td:first-child {
  width: 100px;
}
#summary-data td {
  padding: 14px 14px 6px 22px;
  font-family: "Open Sans";
  font-size: 12px;
}

/* Media query */
/* iphone landscape */
@media (min-width: 667px) {
  .total-count-wrapper {
    width: 57%;
    padding: 9px;
    margin: 18px 0 6px 122px;
  }
  .wrapper-amount {
    margin: 5px 0px 0px 122px;
    width: 386px;
  }
  .wrapper-grid3 .wrapper-amount p:last-child {
    padding: 0 0 0 200px;
  }
  .ui-btn.back {
    margin: 4px 0px 0px 60px;
    width: 120px;
  }
  .cart-delete {
    margin-left: 480px;
  }
}
/* ipad portrait */
@media (min-width: 768px) {
  .wrapper-delivery-detail,
  .wrapper-payment-detail {
    padding: 0 54px 0 52px;
  }
  .iconify.orders {
    display: inline;
    width: 20px;
    height: 20px;
  }
  #order-data td {
    font-size: 13px;
  }
  .total-count-wrapper {
    padding: 8px;
    margin: 7px 0 6px 143px;
  }
  #summary-data td {
    font-size: 14px;
  }
  .wrapper-amount {
    margin: 5px 0px 0px 144px;
    width: 441px;
    height: 38px;
  }
  .wrapper-grid3 .wrapper-amount p:last-child {
    padding: 7px 0 0 245px;
  }
  .wrapper-grid3 .wrapper-amount p {
    padding: 4px 0 0 30px;
    font-size: 17px;
  }
  .ui-btn.back {
    margin: 7px 0px 0px 70px;
  }
  .cart-delete {
    margin-left: 560px;
  }
}
/* ipad landscape */
@media (min-width: 1024px) {
  .wrapper-delivery-detail,
  .wrapper-payment-detail {
    padding: 0px 109px 0 101px;
  }
  .total-count-wrapper {
    padding: 8px;
    margin: 7px 0 6px 200px;
  }
  .wrapper-amount {
    margin: 5px 0px 0px 199px;
    width: 588px;
  }
  .wrapper-grid3 .wrapper-amount p:last-child {
    padding: 7px 0 0 345px;
  }
  .wrapper-grid3 .wrapper-amount p {
    padding: 7px 0 0 48px;
  }
  .ui-btn.back {
    /* width: 277px; */
    margin: 6px 0px 0px 188px;
  }
  .cart-delete {
    margin-left: 800px;
  }
}
