  .clearfix {
    clear:both;
  }
  
  .text-center {text-align:center;}

  .success-box {
    margin:50px 0;
    padding:10px 10px;
    border:1px solid #eee;
    background:#f9f9f9;
  }
  
  .success-box > div {
    vertical-align:top;
    display:inline-block;
    color:#888;
  }
  
  .rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; 
    color:#ccc;
  }

  .iconify {
    height: 30px;
    width: 48px;;
    color:#8CC63F;
  }
  
  .rating-stars ul > li.star.hover > i.fa {
    color:#00C867 ;
  }
  
  .rating-stars ul > li.star.selected > i.fa {
    color: #8CC63F;
  }
  
  .new-text {
    color: red;
  }