.ui-content {
    width: 100%;
}

p {
    margin: 2px;
    padding: 5px 2px 5px 0px;
}
.page-details {
    width: 90%;
}
.wrapper-our-numbers {
    width: 100%;
}       

    .wrapper-shoppers {
        width: 50%;
        float: left;
    }
    .wrapper-courier {
        width: 50%;
        float: right;
        margin-top: 12px;
    }
        .wrapper-shoppers p {
            text-align: center;
        }
        .wrapper-courier p {
            text-align: center;
            margin-right: 77px;
        }
        .wrapper-people {
            display: none;
        }
        .iconify.shoppers {
            width: 176px;
            height: 58px;
            color: #707070;
        }
        .iconify.van {
            width: 97px;
            height: 46px;
            color: #707070
        }
        
            .icon-topic {
                font-family: "Gilroy";
                font-size: 17px;
                color: #707070;
            }

            .icon-data {
                font-family: "Open Sans";
                font-size: 14px;
                color: #707070;
                margin-top: -11px;
            }

#map {
    height: 200px;
    width: 341px;
    padding: 0;
    margin: 15px 0 0 0;
}

    .outlets {
        width: 100%;
        display: block;
        padding: 30px 0 20px 0;
    }

    .outlets div{
        padding: 10px;
        display: inline-block;
        margin-left: 20px;
    }

        .location.store-1, .location.store-2, .location.store-3 {
            border-radius: 1.5em 0 1.5em 0 !important;
            box-shadow: 0 0 10px 2px rgb(0, 0, 0, .1);
            width: 124px;
            height: 120px;
        }
        .location.store-2 {
            margin-left: 24px;
        }
        .location.store-3 {
            margin-left: 84px;
            margin-top: 14px;
        }
        
            .outlet-city {
                font-family: "Gilroy";
                font-size: 14px;
                color: #707070;
                text-align: center;
            }
            .outlet-address{
                font-family: "Open Sans";
                font-size: 11px;
                text-align: center;
                height: 82px;
            }

.about-video {
    width: 338px;
    height: 167px;
    margin: 10px 0 10px 2px;
    box-shadow: 0 0 7px 3px rgb(0, 0, 0, .1);
}

@media only screen and (min-width: 667px) {
    
    .iconify.shoppers, .iconify.van {
        margin-left: 75px;
    }
    #map {
        width: 95%;
    }
    .outlets {
        margin-left: 55px;
    }
    .location.store-3 {
        margin-left: 24px;
    } 
    .about-video {
        width: 436px;
        height: 194px;
        margin: 5px 30px 5px 97px;
    }
}

@media (min-width: 768px), (min-width: 1024px) {

    .wrapper-our-numbers div {
        width: 30%;
        float: none;
        display: inline-block;
        margin-left: 20px;
    }
    
        .iconify.people {
            width: 97px;
            height: 44px;
            color: #707070
        }
    
    
    
}

@media only screen and (min-width: 768px) {
    .wrapper-shoppers p {
        margin-left: 49px
    }
    .wrapper-courier p {
        margin-left: 46px;
    }
    .wrapper-people p {
        text-align: center;
        margin-left: -122px;
    }
    .outlets {
        margin-left: 94px;
    } 
    .outlets div {
        margin: 12px;
    }
    .location.store-1, .location.store-2, .location.store-3 {
        width: 134px;
        height: 138px;
    }
    .outlet-city {
        font-size: 17px;
    }
    .outlet-address{
        font-size: 14px;
    }
    .about-video {
        width: 644px;
        height: 298px;
        margin: 23px 30px 15px 42px;
    }
    #map {
        height: 275px;
        margin: 15px 0 0 3px;
    }
}

@media only screen and (min-width: 1024px) {

    .iconify.shoppers, .iconify.van {
        margin-left: 83px;
    }
    .iconify.people {
        margin-left: 40px;
    }
    .outlets div {
        margin: 15px;
        margin-left: 140px;
    }
    .about-video {
        width: 932px;
        height: 420px;
        margin: 23px 5px 15px 25px;
    }
    #map {
        margin: 15px 0 0 10px;
    }
}