.ui-header {
    color: red;
}
.icons {
    height: 15px;
    width: 15px;
}

.ui-grid-a{
    margin-top: 14px
    
}

    .ui-btn {
        border-radius: 1.5em 0 1.5em 0 !important;
        cursor: pointer;
    }
        .ui-block-a a, .ui-block-b a {
            width: 115px;
            height: 185px;
            background-color:white !important;
        }

        .product-img1 {
            width: 100px;
            height: 83px;
        }
        .product-img2 {
            width: 89px;
            height: 84px;
        }

        .btn-details {
            margin-top: 13px;
        }

            .product-name {
                font-size: 18px;
                font-family: "Open Sans";
            }

            .product-detail {
                font-size: 15px;
                font-family: "Open Sans";
                color: #8CC63F;
            }
            p { 
                margin:5px
            }
            .cart-btn {
                height: 35px;
                width: 55px !important;
                background-color: #8CC63F !important;
                margin-left: 27px;
            }
                .cart-icon {
                    margin-top: -4px;
                }

ul {
    display: flex;
    background-color: white;
    border-radius: 1.5em 0 1.5em 0 !important;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, .1);
    width: 229px;
    height: 39px;
    margin-left: 38px;
}

    ul li {
        position: relative;
        list-style: none;
        line-height: 24px;
        margin: 8px;
        transition: 0.4s;
        margin-left: -22px;
        margin-top: 7px;
        font-family: "Open Sans";
    }

        ul li.page_num {
            width: 50px;
            height: 50px;
            text-align: center;
        }
        ul li a {
            display: inline;
            text-decoration: none;
            color: black !important;
            /* font-weight: 100; */
            transition: 0.4s;
        }
        ul li.page_num:hover a,
        ul li.page_num.active {
            background-color: #8CC63F;
            color: white !important;
            font-size: 20px;
            display: table;
            height: 20px !important;
            width: 55px;
            border-radius: 1.5em 0 1.5em 0 !important;
        }
        ul li:first-child {
            margin-right: 30px;
            font-size: 30px;
        }
        ul li:last-child {
            margin-left: 30px;
            font-size: 30px;
        }
        ul li:first-child :hover,
        ul li:last-child :hover {
            transform: scale(1.25);
        }
