/*i-phone style*/
.product-image-iphone,
.product-info-iphone,
.product-description-iphone,
.comment-section-iphone {
  margin: 5%;
}

.product-name-iphone {
  font-size: 20px;
}
.product-image-iphone img {
  width: 100%;
  padding: 3%;
}

.product-info-iphone,
.comment-section-iphone {
  background-color: #f7f7f7;
  padding: 4%;
  border-radius: 1em;
}

.product-info-iphone {
  color: black;
  height: 80px;
}

.comment-details-iphone {
  padding: 1%;
  box-shadow: 0 0 8px 5px rgba(33, 22, 22, 0.1);
  background-color: white;
}

.rating-heading,
.description-heading {
  color: black;
}
.product-price {
  color: black;
  font-size: 18px;
  font-family: Gilroy;
  margin-left: 2%;
}

.heart-iphone {
  width: 10%;
  margin-top: 8%;
  margin-left: 90%;
}

.add-comment-iphone > .ui-btn {
  background-color: white;
  color: grey;
  text-align: left;
  font-family: "Open Sans";
  font-size: 15px;
  margin-top: -3%;
}

.user-comment-display {
  margin-left: -13% !important;
}

#popupComment {
  border-radius: 2em 0 2em 0 !important ;
}
.popup-heading {
  text-align: center;
  font-family: Proza Libre;
  background-color: #cfe8ae !important;
  padding: 5% !important;
  height: 15px !important;
  margin-top: -5%;
  border-radius: 2em 0 0 0 !important ;
}

.popup-heading h2 {
  margin-top: -1.5%;
}

.rating-section {
  padding: 5%;
}

#popup-textarea {
  height: 80px !important;
  border-radius: 1em 0 1em 0 !important;
  box-shadow: 0 0 8px 5px rgba(33, 22, 22, 0.1) !important;
  background-color: white !important;
  font-size: 12;
  font-family: "Open Sans";
  margin-top: -3% !important;
}

.comment-btn > button {
  background-color: #8cc63f !important;
  color: white !important;
  font-family: "Proza Libre Regular" !important;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2em 0 2em 0 !important;
  box-shadow: 0 0 8px 5px rgba(33, 22, 22, 0.1);
  height: 20%;
  width: 50%;
  margin: 0 auto;
}

.comment-details-iphone img {
  width: 50%;
}

.avatar-iphone {
  width: 40% !important;
}

.avatar-iphone img {
  margin-top: 10% !important;
  margin-left: 5% !important;
}

.user-name-iphone {
  font-family: "Open Sans" !important;
  font-size: 16px !important;
}

.user-comment-iphone {
  font-family: "PT Serif" !important;
  font-style: italic;
  font-size: 11px !important;
  color: black;
}

/*i-pad styles*/

#ipad-grid {
  display: none;
}

.comment-section {
  background-color: #f7f7f7;
}

.ipad-column1 {
  padding: 4%;
}

.ipad-column2 {
  padding-top: 1%;
  padding-right: 4%;
}
.ipad-column1 img {
  margin-top: 13%;
  width: 100%;
}

.rating-heading {
  text-align: left;
}

.ui-btn.comment-btn-ipad {
  align-items: center;
  background-color: #8cc63f;
  color: white;
  font-family: "Proza Libre Regular";
  font-size: 14px;
  font-weight: 600;
  border-radius: 2em 0 2em 0 !important;
  box-shadow: 0 0 8px 5px rgba(33, 22, 22, 0.1);
  height: 20%;
  width: 50%;
  margin: 0 auto;
}

.comment-display-grid1 {
  width: 40% !important;
}

.comment-display-grid2 {
  margin-left: -15% !important;
}

.comment-details-ipad img {
  width: 50%;
}

.avatar-ipad {
  width: 10% !important;
}

.avatar-ipad img {
  margin-top: 2% !important;
}

.user-name-ipad {
  font-family: "Open Sans" !important;
  font-size: 18px !important;
}

.user-comment-ipad {
  font-family: "PT Serif" !important;
  font-style: italic;
  font-size: 11px !important;
  color: black;
}

#ipad-textarea {
  height: 80px !important;
  border-radius: 1em 0 1em 0 !important;
  box-shadow: 0 0 8px 5px rgba(33, 22, 22, 0.1) !important;
  background-color: white !important;
  font-size: 12;
  font-family: "Open Sans";
  margin-top: -3% !important;
}

.product-name-block p {
  margin: 2px;
  margin-top: -3%;
}

.star-rating-avg {
  margin-top: 5px;
}

.star-rating-avg > span {
  width: 10px;
}

.stars {
  font-size: 12px !important;
}

.product-name {
  font-size: 22px;
}

.flexbox {
  margin-left: 80% !important;
  height: 100%;
  width: 10%;
  justify-content: right;
  align-items: center;
  margin-top: -2%;
}

.fav-btn {
  height: 100%;
  width: 100%;
  justify-content: right;
  align-items: flex-end;
}

@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent;
  }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e80057;
  }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e80057;
  }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes favme-hover {
  from {
    font-size: ms(3);
  }
  80% {
    font-size: ms(2);
  }
}

.favme {
  display: block;
  font-size: ms(2);
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  color: #cbcdce;
  margin: 0;
}
.favme.active {
  color: #e80057;
}
.favme:hover {
  animation: favme-hover 0.3s infinite alternate;
}
.favme.is_animating {
  animation: favme-anime 0.3s;
}

@media (min-width: 667px) {
  #iphone-grid {
    display: none;
  }

  #ipad-grid {
    display: block;
  }

  .product-name {
    font-size: 18px;
  }

  .ipad-column1 img {
    margin-top: 17%;
  }

  .flexbox {
    margin-left: 85% !important;
  }
}

@media (min-width: 768px) {
  #iphone-grid {
    display: none;
  }

  #ipad-grid {
    display: block;
  }
  .product-name {
    font-size: 22px;
  }
  .ipad-column1 img {
    margin-top: 17%;
  }
  .flexbox {
    margin-left: 85% !important;
  }
}

@media (min-width: 1024px) {
  #iphone-grid {
    display: none;
  }

  .product-name {
    font-size: 22px;
  }
  #ipad-grid {
    display: block;
  }

  .ipad-column1 img {
    margin-top: -3%;
  }

  .fav-btn {
    width: 120%;
  }

  .flexbox {
    margin-left: 90% !important;
  }
}

.navigation {
  width: 100%;
}
.share-favourites {
  background-color: #1e1e1e;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  pointer-events: none;
  height: 10%;
}
.share-favourites > span {
  vertical-align: middle;
  font-family: normalText;
}

.navigation {
  height: 59px;
  position: fixed;
}
.navigation > img {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-top: 20px;
}
.nav-active {
  background-color: #8cc63f;
  height: 30px;
  margin-top: 15px;
  border-radius: 15px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
}
.nav-cart-icon {
  width: 19px;
  height: 19px;
  padding-top: 5px;
  padding-left: 15px;
}
.nav-cart-text {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
  color: white;
  font-weight: 600;
}
.nav-account-icon {
  width: 19px;
  height: 19px;
  padding-top: 5px;
  padding-left: 8px;
}
.nav-account-text {
  float: right;
  padding-right: 6px;
  padding-top: 7px;
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.product-rating {
  background-color: #8cc63f;
  color: white;
  font-family: Proza Libre;
  font-size: 13px;
  font-weight: bold;
  border-radius: 14px !important;
  height: 10px !important;
  padding: 2%;
}

/*product navbar */

.product-nav {
  background-color: #8cc63f;
}
.product-nav > a {
  width: 100% !important;
  background-color: #8cc63f !important;
  border: 0;
  text-align: center;
  color: white !important;
  font-size: 15px !important;
  font-weight: bold;
  font-family: "Opens Sans";
}

#navbar li {
  height: 50px !important;
}

#navbar a {
  height: 50px;
}

.page-footer {
  margin-bottom: 28% !important;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  left: 10px;
  margin-top: -0.5% !important;
  opacity: 50%;
}

.share-favourites {
  grid-area: share-favourites;
  background-color: #8cc63f;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  pointer-events: none;
  padding: 2%;
}
.share-favourites > span {
  font-family: normalText;
  margin-top: 2% !important;
}

.share-favourites > button {
  background-color: #8cc63f !important;
  border: 0;
  width: 100% !important;
  margin-left: -3% !important;
  margin-top: -2% !important;
  height: 60px !important;
  padding: 0;
}

.share-favourites {
  height: 90px;
}
.share-favourites > img {
  vertical-align: middle;
  width: 25px;
}
.share-favourites > span {
  font-size: 18px;
  padding-top: 3% !important;
}

#success-toast {
  visibility: hidden;
  background-color: #333333b5;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 17px;
  position: fixed;
  z-index: 1;
  left: 14%;
  bottom: 30px;
  font-size: 14px;
  border-radius: 20px 0px;
  border: 1px solid #707070;
}
#success-toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#success-toast > p {
  display: inline;
}
#error-toast {
  visibility: hidden;
  background-color: #333333b5;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 20px 0px;
  border: 1px solid red;
}
#error-toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#error-toast > p {
  display: inline;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
  }
  to {
    bottom: 30px;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
  }
  to {
    bottom: 30px;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
  }
  to {
    bottom: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
  }
  to {
    bottom: 0;
  }
}
