.ui-content {
  width: 100%;
}

.outlets {
  width: 100%;
}

.outlets div {
  padding: 10px;
  display: inline-block;
  margin-left: 20px;
}

.location.store-1 {
  border-radius: 1.5em 0 1.5em 0 !important;
  box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.1);
  width: 150px;
  margin-left: 111px;
  background-color: #8cc63f;
  /* margin-top: -100px; */
}
.deals {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  background-color: #8cc63f !important;
  /* padding: 5px 8px; */
  border-radius: 1.5em 0 1.5em 0 !important;
  box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
  width: 186px;
  height: 25px;
  margin-left: 20%;
  text-align: center;
  margin-top: -2%;
}
.arrow_forward {
  margin-top: 1.5%;
  height: 20px;
  width: 20px;
  margin-left: 18px;
  margin-right: 10px;
}
.arrow_back {
  margin-top: 1%;
  height: 20px;
  width: 20px;
  margin-left: -20px;
  margin-right: 20px;
}
.labalDeal {
  font-weight: bold;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  text-align: center;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}
.ui-btn {
  border-radius: 1.5em 0 1.5em 0 !important;
  cursor: pointer;
}
.ui-block-a.item a,
.ui-block-b.item a {
  background-color: white;
  width: 186px;
  margin-left: 75px;
  height: 186px;
  box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.1);
}
.ui-block-a.item a:focus,
.ui-block-b.item a:focus {
  background-color: white !important;
}

.ui-block-a.item,
.ui-block-b.item {
  display: -webkit-inline-box;
}

.ui-btn.product-item1,
.ui-btn.product-item2 {
  display: none;
}
.product-img1 {
  width: 100px;
  height: 83px;
}
.product-img2 {
  width: 89px;
  height: 84px;
}
.product-name {
  font-size: 18px;
  font-family: "Open Sans";
}

.product-detail {
  font-size: 15px;
  font-family: "Open Sans";
  color: #8cc63f;
  margin-top: -15px;
}
.btn-details {
  margin-top: -15px;
}
.ui-btn.cart-btn {
  background-color: #8cc63f;
  width: 49px;
  height: 28px;
  margin: -27px 10px -4px 125px;
}
.ui-btn.cart-btn:focus {
  background-color: #8cc63f;
}
.iconify.cart {
  color: white;
  height: 20px;
  width: 20px;
  margin: -5px 0 0 0;
}
/* iphone landscape */
@media only screen and (min-width: 667px) {
  .ui-btn.product-item1 {
    display: none;
    margin-left: -148px;
  }
  .item {
    margin-left: 156px;
  }
  ul {
    margin-left: 35%;
    margin-top: -2%;
  }
}
/* ipad portrait */
@media only screen and (min-width: 768px) {
  .ui-btn.product-item1 {
    margin-left: 39px;
    display: block;
  }

  ul {
    width: 500px;
    height: 200px;
    margin-left: 140px;
  }
  .labalDeal {
    margin-left: 250px;
  }
  a {
  }
}
/* ipad landscape */
@media only screen and (min-width: 1024px) {
  .ui-grid-a {
    grid-template-columns: auto auto;
  }
  .ui-block-a.item {
    margin: 7px 5px 0 47px;
  }
  .ui-block-b.item {
    margin: 7px 5px 0 -42px;
  }
  .ui-btn.product-item2 {
    display: block;
    margin-left: 36px;
  }
  .ui-btn.product-item1 {
    margin-left: 33px;
  }
  ul {
    margin-left: 361px;
  }
}
